/* Custom Button Styles */
.btnStl {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  font-size: 16px;
  margin-bottom: 20px;
  cursor: pointer;
  background-color: #ffffff;
  color: #0c0c0c;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

h2 {
  color: #ffffff;
  background-color: rgb(43, 157, 228);
  padding: 10px;
}

h4{
  color: #ffffff;
  background-color: rgb(43, 157, 228);
  padding: 10px;
  border-radius: 8px;
}

/* User Card Styles */
.users-grid, .users-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.user-card {
  width: 300px;
  border: 1px solid #e1e1e1;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin: 20px 0;
  transition: transform 0.2s;
}

.user-card:hover {
  transform: scale(1.02);
}

.user-card h2 {
  margin-top: 0;
  font-size: 1.5em;
  border-bottom: 2px solid #007bff;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.user-card h4 {
  font-size: 1.2em;
  margin-top: 20px;
}

.address, .address-section {
  margin-top: 15px;
  background: rgb(112, 112, 112);
  border-radius: 8px;
  color: #fff;
  padding: 15px;
}

.company, .company-section {
  margin-top: 15px;
  background: #000;
  border-radius: 5px;
  color: #fff;
  padding: 15px;
}

.users-title-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.userTitle {
  font-size: 1.2em;
}

/* Responsive Media Queries */
@media (max-width: 600px) {
  .users-grid {
    justify-content: center;
  }
} 

@media (min-width: 600px) {
  .users-grid {
    justify-content: flex-start;
  }
}
